<div class="container">

  <section class="our-service" id="service" >
    <div class="text-center my-3">
       <h1>Our <span class="text-primary">Services</span></h1>
       <hr class="w-25 m-auto"/>
      </div>
    
    <!-- Three columns of text below the carousel -->
    <div class="row justify-content-md-center main-card">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card text-center h-100">
                <i class="bi bi-heart-pulse"></i>
                <div class="card-body">
                  <h4 class="card-title">Life Insurance</h4>
                  <p class="card-text"> Life insurance can help your family to continue with their existing lifestyle even if you are not there in future..</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card text-center h-100">
                    <i class="bi bi-prescription2"></i>
                    <div class="card-body">
                    <h4 class="card-title">Health Insurance</h4>
                    <p class="card-text">Health insurance can help in protecting you from unexpected, high medical costs.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-center h-100">
                    <i class="bi bi-car-front-fill"></i>
                  <div class="card-body">
                    <h4 class="card-title">Non-Life Insurance</h4>
                    <p class="card-text">Your home is your most precious asset. It takes lot of hardwork, money and years to build/buy your dream home. So it is very important to secure it with home insurance.</p>
                  </div>
                </div>
              </div>
            <div class="col">
              <div class="card text-center h-100">
                <i class="bi bi-currency-rupee"></i>
                <div class="card-body">
                  <h4 class="card-title">Income Protection Planning</h4>
                  <p class="card-text">Earning wealth can be difficult. Preserving your wealth for long term use can be even more difficult.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center h-100">
                <i class="fa fa-wheelchair pt-2"></i>
                <div class="card-body">
                  <h4 class="card-title">Retirement</h4>
                  <p class="card-text"> By planning for your retirement you can continue to enjoy your current lifestyle without compromising on your living standards</p>
                
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center h-100">
                <i class="fa fa-child pt-2"></i>
                <div class="card-body">
                  <h4 class="card-title">Children Future</h4>
                  <p class="card-text">As a parent, you have always tried to give the best of everything to your child. Then why should you compromise on your child's future. Good education is the best gift for your child.</p>
                </div>
              </div>
            </div>
          </div>
          
    </div><!-- /.row -->
  </section>
<section id="about-us" class="mt-4">
    <!-- About us section -->
    <div class="text-center">
      <h1>About<span class="text-primary"> us</span></h1>
      <hr class="w-25 m-auto"/>
     </div>

    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading">Hello, <span class="text-muted">I am SURAJ KUMAR</span></h2>
        <p class="lead">I have 5 years experience in Finance. I am expert in Home loan, Loan Against Property, Bussiness loan and Personal loan. </p>
        <p class="lead">Contact number : 8010909383</p>
        <p class="lead"> Gmail         : surajKr80109@gmail.com</p>
      </div>
      <div class="col-md-5">
          <img src="../../assets/kamal.jpeg" alt="" width="300px" height="400px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Hi, <span class="text-muted">I am KAMAL KISORE</span></h2>
        <p class="lead">I have 20 years experience in Finance. I am Expert in Gold Loan, Insurance</p>
        <p class="lead">Contact number : 9873432156, 7011085658</p>
        <p class="lead"> Gmail         : kamal.insurance@gmail.com</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="ml-5">
        <img src="../../assets/kamal.jpeg" alt="" width="300px" height="400px" style="margin-left: 7rem;">
      </div>
      </div>
    </div>

    <hr class="featurette-divider">


  </section>

    <!-- /END THE FEATURETTES -->

  </div>