.main-card i {
 font-size: xxx-large;
}

#about-us {
    .kamal-img {
        border-radius: 75px;
        height: 300px;
        width: 200px;
    }

    .suraj-img{
        border-radius: 75px;
        height: 300px;
        width: 220px;
    }
} 